<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package
        Name="ShootEm"
        Manufacturer="Seboholi Inc"
        Version="0.0.1"
        Scope="perMachine"
        ProductCode="*"
        UpgradeCode="{88888888-8888-8888-8888-888888888888}"
    >
        <Feature Id="MainApplication" Level="1">
            <ComponentRef Id="MainExecutable" />
            <ComponentRef Id="DefaultConfig" />
            <ComponentRef Id="OrbitronFont" />
            <ComponentRef Id="TechFont" />
            <ComponentRef Id="UserConfig" />
            <ComponentRef Id="CleanupComponent" />
        </Feature>

        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="CompanyFolder" Name="Seboholi Inc">
                <Directory Id="INSTALLFOLDER" Name="ShootEm">
                    <Directory Id="AssetsFolder" Name="assets">
                        <Directory Id="AppFontsFolder" Name="fonts">
                            <Component Id="OrbitronFont"
                                Guid="{1A2B3C4D-5E6F-7890-ABCD-EF1234567890}">
                                <File
                                    Id="OrbitronFontFile"
                                    Source="assets/fonts/orbitron.ttf"
                                    KeyPath="yes" />
                            </Component>
                            <Component Id="TechFont"
                                Guid="{2B3C4D5E-6F78-90AB-CDEF-1234567890AB}">
                                <File
                                    Id="TechFontFile"
                                    Source="assets/fonts/tech.ttf"
                                    KeyPath="yes" />
                            </Component>
                        </Directory>
                    </Directory>
                    <Component Id="DefaultConfig"
                        Guid="{3C4D5E6F-7890-ABCD-EF12-34567890ABCD}">
                        <File
                            Id="DefaultConfigFile"
                            Source="config.ini"
                            KeyPath="yes" />
                    </Component>
                    <Component Id="MainExecutable"
                        Guid="{4D5E6F78-90AB-CDEF-1234-567890ABCDEF}">
                        <File
                            Id="ShootEmExe"
                            Source="!(bindpath.)\ShootEm.exe"
                            KeyPath="yes" />
                        <Shortcut
                            Name="ShootEm"
                            Directory="ProgramMenuFolder"
                            WorkingDirectory="INSTALLFOLDER"
                            Advertise="yes"
                            Icon="ShootEmIcon.exe" />
                        <Shortcut
                            Name="ShootEm"
                            Directory="DesktopFolder"
                            WorkingDirectory="INSTALLFOLDER"
                            Advertise="yes"
                            Icon="ShootEmIcon.exe" />
                    </Component>
                </Directory>
            </Directory>
        </StandardDirectory>

        <StandardDirectory Id="PersonalFolder">
            <Directory Id="UserGameDataFolder" Name="ShootEm">
                <Component Id="UserConfig" Guid="{5E6F7890-ABCD-EF12-3456-7890ABCDEF12}">
                    <RegistryValue Root="HKCU"
                        Key="Software\SeboholiInc\ShootEm"
                        Name="UserConfigInstalled"
                        Type="integer"
                        Value="1"
                        KeyPath="yes" />
                    <File Id="UserConfigFile" Source="config.ini">
                        <Permission User="Everyone" GenericAll="yes" />
                    </File>
                </Component>
                <!-- Cleanup component for user profile directory -->
                <Component Id="CleanupComponent" Guid="{6F789012-ABCD-EF12-3456-7890ABCDEF34}">
                    <RegistryValue Root="HKCU"
                        Key="Software\SeboholiInc\ShootEm"
                        Name="Installed"
                        Type="integer"
                        Value="1"
                        KeyPath="yes" />
                    <RemoveFile Id="CleanupUserConfig" Name="config.ini" On="uninstall" />
                    <RemoveFolder Id="CleanupUserGameDataFolder" On="uninstall" />
                </Component>
            </Directory>
        </StandardDirectory>

        <Icon
            Id="ShootEmIcon.exe"
            SourceFile="!(bindpath.)\ShootEm.exe" />
    </Package>
</Wix>